.connexion {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--second-background-color);
    
    img {
        height: 800px;
    }
    
    div, img {
        width: 50%;
    }
    
    div {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        
        h1 {
            margin-bottom: 25px;
            font-size: 36px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            
            label {
                margin-top: 15px;
                margin-bottom: 10px;
                color: var(--gray-color);
                font-size: 14px;
            }
            
            input {
                border: 1px solid var(--white-color);
                border-radius: 10px;
                height: 50px;
            }
            
            .submit {
                background-color: var(--green-color);
                color: white;
                font-size: 16px;
                border-radius: 10px;
                margin-top: 25px;
                padding: 5px;
            }
        }
        
        p {
            font-size: 16px;
            
            a {
                text-decoration: underline;
                color: black;
            }
        }
    }
}