body {
    margin: 0px;
}

.header, .join, .marche, .valeur, .error, .dernierAjout, .connexion, .livres{
    padding-left: 10%;
    padding-right: 10%;
}

img {
    width: 100%;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F3EF;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: #292929;
        padding: 10px;
    }
}


section {
    display: flex;
    justify-content: center;
}

.join, .marche, .valeur, .error, .connexion
{
    background-color: #F5F3EF;
}

.dernierAjout {
    background-color: #FAF9F7;
}

.join {
    flex-direction: row;
    justify-content: space-around;

    img {
        width: 20%;
    }
}

.marche, .valeur, .dernierAjout
{
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #00AC66;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compteInfo {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .compte, .infoPerso {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAF9F7;
    }
}

.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF9F7;
}

.livres {
    display: flex;
    flex-direction: column;
    background-color: #FAF9F7;

    .grilleLivre {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        gap: 50px 50px;
        
        .card {
            width: 100%;
        
            img {
                width: 100%;
            }
        }
    }
}

.detailLivre {

    display: flex;
    justify-content: space-around;
    img {
        width: 20%;
    }

    .infoLivre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}  

.messagerie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
