:root {
    --font-title: 'Playfair Display', sans-serif;
    --font-text: 'Inter', sans-serif;
    --main-background-color: #F5F3EF;
    --second-background-color: #FAF9F7;
    --green-color: #00AC66;
    --gray-color: #A6A6A6;
    --black-color: #292929;
    --light-gray-color: #EDF2F6;
    --white-color: #F0F0F0;
}